//extends layout

//block content
  //h1= title
  //p Name: #{name}, Employee ID: #{id}, Age: #{age}, Address: #{address}, Salary: #{salary} 
  //p: img(src="/images/logo.png")
  //pre #{request_uuid}
doctype html
html(lang='en')
  head
    title Fetch using MySQL and Node.js
  body
    .table-data
      h2 Display Data using Node.js & MySQL
               <%
               if(employeeData.length!=0){
               var i=1;
               employeeData.forEach(function(data){
               %>
               <%  i++; }) %>
               <% } else{ %>
               <% } %>
      table(border='1')
        tbody
          tr
            th ID
            th Name
            th AGE
            th ADDRESS
            th SALARY
          tr
            td <%=data.id; %>
            td <%=data.name %>
            td <%=data.age %>
            td <%=data.address %>
            td <%=data.salary %>
          tr
            td(colspan='7') No Data Found